<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!--U in CRUD-->
<!--layout very similar to add.js-->
<!--container to hold form-->
<main class="container my-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div class="card shadow-lg p-4 bg-white">
          <h1><%= title %></h1>
          <form class="form" method="post">
            <!--change meal type-->
            <div class="form-group">
              <label for="mealTextField">Meal Type</label>
              <input
                type="text"
                class="form-control"
                id="mealTextField"
                placeholder="Enter the meal type"
                name="meal"
                value="<%= Meal.meal %>"
                required />
            </div>

            <!--change description, textarea to allow the textbox size to change-->
            <div class="form-group">
              <label for="descriptionTextField">Meal Description</label>
              <textarea
                type="text"
                class="form-control"
                id="descriptionTextArea"
                placeholder="Enter meal description"
                name="description"
                required>
<%= Meal.description %></textarea
              >
            </div>

            <!--change protion size-->
            <div class="form-group">
              <label for="portionTextField">Portion Size</label>
              <input
                type="text"
                class="form-control"
                id="portionTextField"
                placeholder="Enter portion size"
                name="portion"
                value="<%= Meal.portion %>"
                required />
            </div>

            <!--change the nummber of cals-->
            <div class="form-group">
              <label for="calsTextArea">Calories</label>
              <input
                class="form-control"
                id="calsTextArea"
                placeholder="Number of calories"
                name="cals"
                value="<%= Meal.cals %>"
                required />
            </div>

            <!--change the amount of protein-->
            <div class="form-group">
              <label for="proteinTextField">Protein</label>
              <input
                type="text"
                class="form-control"
                id="proteinTextField"
                placeholder="Amount of protein"
                name="protein"
                value="<%= Meal.protein %>"
                required />
            </div>

            <!--change the number of carbs-->
            <div class="form-group">
              <label for="carbsTextField">Carbohydrates</label>
              <input
                type="text"
                class="form-control"
                id="carbsTextField"
                placeholder="Number of carbs"
                name="carbs"
                value="<%= Meal.carbs %>"
                required />
            </div>

            <!--chnage the amount of fats-->
            <div class="form-group">
              <label for="fatsTextField">Fats</label>
              <input
                type="text"
                class="form-control"
                id="fatsTextField"
                placeholder="Number of fats"
                name="fats"
                value="<%= Meal.fats %>"
                required />
            </div>
            <br />
            <!--buttons, one used to submit the changes and one used to cancel/undo changes-->
            <button class="btn btn-success" type="submit">
              <i class="fas fa-edit"></i> Submit
            </button>
            <a href="/meals" class="btn btn-outline-warning">
              <i class="fas fa-undo"></i> Cancel
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include ../partials/footer.ejs %>
